#tw-banner  {
    position: fixed;
    top: 1em;
    right: 2em;
    min-width: 100px;
    height: 55px;
    z-index: 9999999999;
    border: 1px solid #ccc;
    border-radius: 1.5em;
    vertical-align: middle;
    text-align: center;
    padding: 0.1em 0.3em 0.1em 0.3em;
    background-color:#c8ccc9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#tw-banner:before {
    content: '\2807';
    font-size: 40px;
    padding-left: 0.3em;
    text-align: center;
    vertical-align: middle;
}

#tw-banner-header {
  padding: 2px;
  cursor: move;
}

.tw-icon {
    color:#7096b3;
    margin: 0em 0.2em;
    padding: 0em 0.2em;
    vertical-align: middle;
}

.tw-svg {
    width: 40px;
    height: 50px;
}

.tw-svg-small {
    width: 24px;
    height: 24px;
}

.tw-tag {
    margin: 0.2em 0.2em;
    padding: 0.4em 1em;
    border: 1px solid #ccc;
    border-radius: 1.5em;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: inline-block;
}



.tw-colleague {
    background-color:#ecf8ec;
}

.tw-domain {
    background-color:#c8dee8;
}

.tw-place {
    background-color:#e8e5d8;
}


.tw-link:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.tw-link:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.tw-link:hover {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

.tw-link:active {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}