.tw-banner {
    position: fixed;
    top: 1em;
    right: 1em;
    z-index: 9999999999;
    border: 1px solid #ccc;
    border-radius: 25%;
    box-shadow: 0 0 2px #888;
    padding: 0.5em 0.6em;
    background-color:#c8ccc9;
}